

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

.wrapper {
  padding-top: 60px;
}
/* Reset figure */
figure {
  margin: 0;
  padding: 0;
}
.form-horizontal .controls {
  
}